@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #1e293b;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; */
}

.container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  min-width: 100vw;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #111827;
  color: rgba(255, 255, 255, 0.618);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.321);
  width: 100%;
}

.playlist-creator {
  color: #22c55e;
  font-weight: bold;
  font-size: 26px;
}

.home-playlists {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

.playlist-button {
  background: #22c55e;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 17px;
  font-weight: bolder;
  width: 150px;
}

.footer {
  background: #111827;
  color: rgba(255, 255, 255, 0.618);
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.321);
}


